# Since Windows and Linux use different default line endings, Git may report a 
# large number of modified files that have no differences aside from their 
# line endings. To prevent this from happening, you can disable line ending 
# conversion using a .gitattributes file or globally on the Windows side.
#
# https://code.visualstudio.com/docs/remote/troubleshooting#_resolving-git-line-ending-issues-in-containers-resulting-in-many-modified-files

* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
